@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
    
}

body{
    background: linear-gradient(to bottom, #FFBB94,#FB9590,#DC586D,#A33757,#852E4E,#4C1D3D);
    min-height: 100vh;
    margin: 0;
    

}

/*ESTILOS MENU*/

nav{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
    
}
nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #4C1D3D;
    text-transform: uppercase;
    font-weight: 200;
}
nav ul li a:hover{
    text-decoration: underline;
}

.drawer {
    color: var(--primary);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox {
    display: none;
}

#select{
    font-weight: 900;
}


#presentacion {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;              /* ← centra el bloque */
    text-align: center;          /* ← centra el texto */
    padding: 50px 20px;
    color: #4C1D3D;
}

#presentacion h1 {
    margin: 0 0 20px 0;
    font-size: 3rem;
}
#presentacion p{
    padding-top: 2vh;
}

#cv{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.parte1{
    background-color:#FB9590;
    text-align: left;
    border-radius: 1vw;
    padding: 2vw;
    color: #4C1D3D;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    
}

.parte1 h1{
    text-align: left;
    font-weight: 900;
}

.parte2{
    background-color:#ffffff;
    text-align: left;
    border-radius: 1vw;
    padding: 2vw;
    color: #4C1D3D;

}

.parte2 a{
    color: #4C1D3D;
}

/*MENU RESPONSIVE*/

@media(max-width:1020px) {
    nav {
        justify-content: flex-start;
    }
    .drawer {
        display: block;
        color: #4C1D3D;
    }

    nav ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        left: -100%;
        top: 5vh;
        text-align: left;
        transition: all .5s;
        display: block;
        flex-direction: column;
        align-content: stretch;
        z-index: 1000;
        background-color: #4C1D3D;
        
    }
    nav ul li {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
       
  
    }

    nav ul li a{
        color: #ffffff;
    }

    nav ul li a:hover{
        border: none;
    }
    #selected{
    padding: 10px;
    border: none;
    font-weight: 900;
    }   
    #ckbox:checked~.links {
        left: 0px;
    }
    #cv{
      grid-template-columns: 1fr;
     
    }


    .parte1, .parte2{
        position: relative;
        z-index: 1;
    }

}