@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
    
}

body{
    background: linear-gradient(to bottom, #FFBB94,#FB9590,#DC586D,#A33757,#852E4E,#4C1D3D);
    min-height: 100vh;
    margin: 0;
    

}

/*ESTILOS MENU*/

nav{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
    
}
nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #4C1D3D;
    text-transform: uppercase;
    font-weight: 200;
}
nav ul li a:hover{
    text-decoration: underline;
}

.drawer {
    color: var(--primary);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox {
    display: none;
}

#select{
    font-weight: 900;
}
/*MENU RESPONSIVE*/

@media(max-width:1020px) {
    nav {
        justify-content: flex-start;
    }
    .drawer {
        display: block;
        color: #4C1D3D;
    }

    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        left: -100%;
        top: 5vh;
        text-align: left;
        transition: all .5s;
        display: block;
        flex-direction: column;
        align-content: stretch;
        z-index: 1;
        background-color: #4C1D3D;
        
    }
    nav ul li {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
       
  
    }

    nav ul li a{
        color: #ffffff;
    }

    nav ul li a:hover{
        border: none;
    }
    #selected{
    padding: 10px;
    border: none;
    font-weight: 900;
    }   
    #ckbox:checked~.links {
        left: 0px;
    }
    #contenedor-historia{
      grid-template-columns: 1fr;  
    }

    .proyecto{
        padding: 20px;
    }
}

#contenedor-quiensoy {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;              /* ← centra el bloque */
    text-align: center;          /* ← centra el texto */
    padding: 50px 20px;
    color: #4C1D3D;
}

#contenedor-quiensoy h1 {
    margin: 0 0 20px 0;
    font-size: 3rem;
}
#contenedor-quiensoy p{
    padding-top: 2vh;
}

#proyectos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.proyecto{
    background-color:#FB9590;
    text-align: left;
    border-radius: 1vw;
    padding: 2vw;
    color: #4C1D3D;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    
}

.proyecto img{
    margin: 0 auto;
    width: 90%;
    border-radius: 1vw;
}

.proyecto h1{
    
    font-weight: 900;
    text-transform: uppercase;
}

.proyecto a{
    
    color: #ffffff;
}

.proyecto a:hover{
    color: #4C1D3D;
    font-weight: 800;
}